<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  
  <Section Name="RabbitMQConnection">
    <Parameter Name="Username" Value="travis" />
    <Parameter Name="Password" Value="dallas123" />
    <Parameter Name="VirtualHost" Value="/" />
    <Parameter Name="HostName" Value="ec2-184-73-23-100.compute-1.amazonaws.com" />
  </Section>
  
</Settings>
